app/code/Awesome/Frontend/Schema/page_layout.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="page">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="head" minOccurs="0">
                    <xs:complexType>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="title" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="translate" type="xs:boolean" default="true"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="description" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="translate" type="xs:boolean" default="true"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="keywords" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="translate" type="xs:boolean" default="true"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="favicon" minOccurs="0">
                                <xs:complexType>
                                    <xs:attribute name="src" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1"/>
                                                <xs:pattern value="[a-zA-Z0-9\-_/.]*"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="type">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1"/>
                                                <xs:pattern value="[a-zA-Z0-9/]*"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="script" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="src" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1"/>
                                                <xs:pattern value="[a-zA-Z0-9\-_/.]*"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="async" type="xs:boolean"/>
                                    <xs:attribute name="defer" type="xs:boolean"/>
                                    <xs:attribute name="sortOrder" type="xs:nonNegativeInteger"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="css" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="src" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1"/>
                                                <xs:pattern value="[a-zA-Z0-9\-_/.]*"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="media">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1"/>
                                                <xs:pattern value="[a-z0-9\-: (),]*"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="sortOrder" type="xs:nonNegativeInteger"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="preload" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="src" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1"/>
                                                <xs:pattern value="[a-zA-Z0-9\-_/.]*"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="as" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="font"/>
                                                <xs:enumeration value="style"/>
                                                <xs:enumeration value="script"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="type">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1"/>
                                                <xs:pattern value="[a-zA-Z0-9/]*"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="sortOrder" type="xs:nonNegativeInteger"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="remove" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="src" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:minLength value="1"/>
                                                <xs:pattern value="[a-zA-Z0-9\-_/.]*"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                    <xs:unique name="elementSource">
                        <xs:selector xpath=".//style|.//script|.//preload|.//remove"/>
                        <xs:field xpath="@src"/>
                    </xs:unique>
                </xs:element>
                <xs:element name="body" minOccurs="0">
                    <xs:complexType>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element ref="block"/>
                            <xs:element ref="referenceBlock"/>
                            <xs:element ref="container"/>
                            <xs:element ref="referenceContainer"/>
                        </xs:choice>
                    </xs:complexType>
                    <xs:unique name="elementName">
                        <xs:selector xpath=".//block|.//container"/>
                        <xs:field xpath="@name"/>
                    </xs:unique>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="block" type="blockType"/>
    <xs:element name="referenceBlock" type="referenceType"/>
    <xs:element name="container" type="containerType"/>
    <xs:element name="referenceContainer" type="referenceType"/>

    <xs:complexType name="blockType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="block"/>
            <xs:element ref="referenceBlock"/>
            <xs:element ref="container"/>
            <xs:element ref="referenceContainer"/>
            <xs:element name="arguments">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded">
                        <xs:element name="argument" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="name" use="required">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="1"/>
                                                    <xs:pattern value="[a-zA-Z0-9\-_]*"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="argumentName">
                    <xs:selector xpath=".//argument"/>
                    <xs:field xpath="@name"/>
                </xs:unique>
            </xs:element>
        </xs:choice>
        <xs:attribute name="name" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:pattern value="[a-z\-_.]*"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="class" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:pattern value="[a-zA-Z0-9\\_]*"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="template">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:pattern value="[a-zA-Z0-9\-_/:.]*"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="ifConfig">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:pattern value="[a-zA-Z0-9\-_/]*"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="disabled" type="xs:boolean" default="false"/>
        <xs:attribute name="sortOrder" type="xs:nonNegativeInteger"/>
    </xs:complexType>
    <xs:complexType name="containerType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="block"/>
            <xs:element ref="referenceBlock"/>
            <xs:element ref="container"/>
            <xs:element ref="referenceContainer"/>
        </xs:choice>
        <xs:attribute name="name" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:pattern value="[a-z\-_.]*"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="htmlTag">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:pattern value="[a-z]*"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="htmlClass">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:pattern value="[a-zA-Z0-9\-_ ]*"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="htmlId">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:pattern value="[a-zA-Z0-9\-_ ]*"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="ifConfig">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:pattern value="[a-zA-Z0-9\-_/]*"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="disabled" type="xs:boolean" default="false"/>
        <xs:attribute name="sortOrder" type="xs:nonNegativeInteger"/>
    </xs:complexType>
    <xs:complexType name="referenceType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="block"/>
            <xs:element ref="referenceBlock"/>
            <xs:element ref="container"/>
            <xs:element ref="referenceContainer"/>
        </xs:choice>
        <xs:attribute name="name" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:pattern value="[a-z\-_.]*"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="remove" type="xs:boolean" default="false"/>
        <xs:attribute name="sortOrder" type="xs:nonNegativeInteger"/>
    </xs:complexType>
</xs:schema>
